@media (max-width: 1440px) {
    .container {
      max-width: 800px;
    }
  }
  
  @media (max-width: 1024px) {
    .container {
      max-width: 700px;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      max-width: 500px;
    }
  }
  
  @media (max-width: 480px) {
    .container {
      max-width: 100%; /* 모바일 화면에서는 전체 너비 사용 */
    }
  }
  

@media (max-width: 768px) {
	.container {
	  padding-left: 1em; /* 모바일 좌측 패딩 */
	  padding-right: 1em; /* 모바일 우측 패딩 */
	}
  }

