@keyframes rotate-axis {
	from {
		transform: perspective(800px) rotateY(0deg);
	}
	to {
		transform: perspective(800px) rotateY(0deg);
	}
}

.post-satelites {
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    padding-top: 15%;
    height: 3vh;
    transform: perspective(800px);
    transition: transform 1s ease;
}

.post-satelites li {
    list-style: none;
}

.satelite {
    position: absolute;
    width: 350px;
    height: auto;
    padding: 20px; 
    transform: rotateY(calc(var(--i) * 1deg)) translateZ(350px);
   
    border: 2px solid #fff;
    border-radius: 30px;
    background: radial-gradient(circle, rgba(0,0,0,0.3) 0%, rgba(0, 0, 0, 0.6) 25%, rgba(9,9,9,1) 75%, rgba(0,0,0,1) 100%);
}

.satelite:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.rotate-nav {
    justify-content: center;
    display: flex;  
    align-items: center;
}

.left-button,
.right-button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    position: absolute; 
    bottom: 20px; 
  }
 
