.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}

.search-input{
  width: 67.5px;
  border-style: none;
  outline: none;
  transition: all .5s ease-in-out;
  background-color: transparent;
  color:#666;
  font-size: 20px;
  font-weight: 300;
}

.search-input::placeholder {
  font-size: 20px;
  font-family: 'NEXON Lv2 Gothic';
  font-weight: 300;
}

.search-input:focus{
  width: 170px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:3px solid #666;
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.fa {
  font-size: 18px;
}

#results-container {
  display: none; /* 기본 상태는 숨김 */
  position: absolute; /* 절대 위치 설정 */
  background-color: #31363F; /* 검색 결과 배경 색상 */
  /*background-color: #3C5B6F;*/
  z-index: 1000; /* 검색 결과가 다른 콘텐츠 위에 나타나도록 설정 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.39); /* 그림자 효과 */
  max-height: fit-content; /* 원하는 최대 높이 설정 */
  overflow-y: auto; /* 검색 결과가 많을 경우 스크롤 가능 */
  width: 200px;
  padding-left: 0;
  margin-left: 10px;
}


#results-container.active {
  display: block; /* active 클래스가 있을 때 보임 */
  max-height: fit-content; /* 원하는 최대 높이 설정 */
  overflow-y: auto; /* 검색 결과가 많을 경우 스크롤 가능 */
}

#results-container li {
  list-style-type: none; /* 기본 리스트 스타일을 없앰 */
  margin: 0;
  display: block; /* 클릭 영역을 넓히기 위해 블록 요소로 설정 */
  padding: 10px;
}

#results-container li a {
  text-decoration: none;
  color: #EEEEEE;
  display: block; /* 클릭 영역을 넓히기 위해 블록 요소로 설정 */
}

#results-container li.li-result:hover {
  background-color: #222831;
}

