@import "../_sass/rouge-base16-dark";
@import "../_sass/default_colors";

$body-foreground: $conifer !default;


.blog-title-container {
    display: flex; /* 자식 요소들을 플렉스 항목으로 만듭니다. */
    justify-content: center; /* 자식 요소들을 수평으로 중앙에 정렬합니다. */
	align-items: center;
}

#search-bar {
    display: inline-block; /* 검색 바를 인라인 블록 요소로 변경하여 중앙 정렬 가능 */
    vertical-align: middle; /* 세로 가운데 정렬 */
    margin-left: auto; /* 왼쪽 마진 추가 */
	width: auto;
	white-space: nowrap;
}

#search-input {
    border: none;
    line-height: 1.5;
    outline: none;
    color: $body-foreground; /* 글자 색상 변경 */
    background-color: transparent; /* 배경 투명 */
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 24px;
}



