@import "../_sass/rouge-base16-dark";
@import "../_sass/default_colors";

$body-foreground: $conifer !default;


.blog-title-container {
    display: flex; /* 자식 요소들을 플렉스 항목으로 만듭니다. */
    justify-content: center; /* 자식 요소들을 수평으로 중앙에 정렬합니다. */
	align-items: center;
    white-space: normal; 
}

.blog-title a {
    display: block;
    color: inherit;
    text-decoration: none;
}

#search-bar {
    display: inline-block; /* 검색 바를 인라인 블록 요소로 변경하여 중앙 정렬 가능 */
    vertical-align: middle; /* 세로 가운데 정렬 */
    margin-left: 10px; /* 왼쪽 마진 추가 */
    white-space: nowrap;
    align-items: center;
}

#search-input {
    border: none;
    line-height: 1.5;
    outline: none;
    color: $body-foreground; /* 글자 색상 변경 */
    background-color: transparent; /* 배경 투명 */
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 24px;
    text-align: left;
    min-width: 50px; /* 최소 너비 지정 */
}

@media (max-width: 485px) {
    .blog-title-container {
        display: flex;
        font-size: 16px; /* 모바일에서 작은 폰트 크기로 조정 */
        white-space: normal; /* 텍스트 줄 바꿈 허용 */
    }
}