.toc {
	position: absolute;
	right: 0px;
	width: 240px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-left: 2rem;
	padding-right: 0.75rem;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	margin-right: 0px;
	font-size: 1.0rem;
	border-left: 2px solid #7f7a85;
	
	display: none; /* 기본적으로 숨김 */
  
	@media (min-width: 100em) {
	  width: 240px;
	  display: block; /* 100em 이상에서 표시 */
	}
  
	@media (min-width: 110em) {
	  width: 300px;
	  display: block; /* 110em 이상에서 표시 */
	}
  
	@media (min-width: 120em) {
	  width: 360px;
	  display: block; /* 120em 이상에서 표시 */
	}
  
	a.toc-active {
	  font-weight: bold; 
	  transition: all 0.125s ease-in 0.0000s; 
	  font-size: 1.1rem;
	  color: #ece5f2;
	}
  
	ul {
	  list-style-type: none;
	  margin-bottom: 0.5rem;
	  padding-left: 0rem;
	}
	
	ul li {
	  padding-left: 1rem;
	}
  
	a {
	  text-decoration: none;
	  text-shadow: none;
	  color: #7f7a85;
	}
  }
  
  .toc li {
	list-style-type: none;
  }
  
  /* 모바일 화면에서는 .toc를 숨김 및 레이아웃 조정 */
  @media (max-width: 768px) {
	.toc {
	  display: none; /* 768px 이하에서는 숨김 */
	  position: static; /* 위치를 static으로 변경 */
	  width: auto; /* 너비를 자동으로 변경 */
	  margin-right: 0; /* 마진 제거 */
	  padding: 0; /* 패딩 제거 */
	  border-left: none; /* 테두리 제거 */
	}
  }
  