<head>
  <link rel="stylesheet" href="/css/categories.css">
</head>
<!-- _includes/category.html -->
<ul class="tree">
  {% if include.category.posts or include.category.subcategories %}
    <li>
      <input type="checkbox" class="custom-input" id="{{ include.category.name | slugify }}" checked />
      <label class="category-label {{ include.category.name }}" for="{{ include.category.name | slugify }}">
          <span class="custom-label">
              <span class="material-symbols-outlined custom-label-checked">folder</span>
              <span class="material-symbols-outlined custom-label-unchecked">folder_open</span>
          </span>
          {{ include.category.name }}
      </label>
      
    {% for post_id in include.category.posts %}
    {% assign post = site.posts | where: "title", post_id.title | first %}
      <ul class="postinfo">
        <li class="postinfo-{{ post.title }}">
          <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">
            <span class="material-symbols-outlined">
              description
            </span>
            <time datetime="{{ post.date | date_to_xmlschema }}"> {{ post.date | date_to_string }}</time> / 
            {{ post.title }}
          </a>
        </li>
      </ul>
    {% endfor %}
    {% if include.category.subcategories %}
      <ul class="tree">
      {% for subcategory in include.category.subcategories %}
          <li>
            <li class="subcategory {{ subcategory.name }}">{% include category.html category=subcategory %}</li>
          </li>
          {% endfor %}
      </ul>
    {% endif %}
  </li>
  {% endif %}
  </ul>
  