<!-- _includes/category.html -->
{% if include.category.posts or include.category.subcategories %}
  <h2 class="{{ include.category.name }}">{{ include.category.name }}</h2>
  {% for post_id in include.category.posts %}
    {% assign post = site.posts | where: "title", post_id.title | first %}
    <ul class="postinfo">
      <li class="postinfo-{{ post.title }}">
        <time datetime="{{ post.date | date_to_xmlschema }}"> {{ post.date | date_to_string }}</time> - 
        <a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
      </li>
    </ul>
  {% endfor %}
  {% if include.category.subcategories %}
    {% for subcategory in include.category.subcategories %}
      <ul class="{{ subcategory.name }}">
        {% include category.html category=subcategory %}
      </ul>
    {% endfor %}
  {% endif %}
{% endif %}
