<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  
  <div id="wrapper">
    {% include header.html %}
    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>
  </div>
  

  {% include index_pagination.html %}

  <div class="stars"></div>
  <div class="stars-highlights"></div>
  <div class="particles"></div>
  <div class="stars-blur"></div>
  <div class="color-filter"></div>
  <svg class=filter xmlns="http://www.w3.org/2000/svg">
    <filter id="stars">
      <feTurbulence baseFrequency="0.275" />
      <feColorMatrix values="0 0 0 9 -5
                                 0 0 0 9 -4
                                 0 0 0 9 -5
                                 0 0 0 0 1" />
    </filter>
    <filter id="stars-highlights">
      <feTurbulence baseFrequency="0.675" />
      <feColorMatrix values="0 0 0 9 -5
                                 0 0 0 9 -4
                                 0 0 0 9 -5
                                 0 0 0 0 1" />
    </filter>
  </svg>
  {% include footer.html %}

  {% if site.google_analytics %}
    {% include analytics.html %}
  {% endif %}
</body>
</html>