---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>
<div class="icons_summary">
  <span class="categories_time">
    <span class="material-symbols-outlined">
      folder_open
    </span>
    {% if page.categories.size > 1 %}
      {% for category in page.categories offset:1 %}
        {% if forloop.last %}
          {{ category }}
        {% else %}
          {{ category }} / 
        {% endif %}
      {% endfor %}
    {% else %}
      No category
    {% endif %}
  
    | 
    <span class="material-icons">date_range</span>
    <time datetime="{{ page.date | date_to_xmlschema }}"> {{ page.date | date_to_string }}</time>
  </span>
  <p class="tags">
    <span class="material-symbols-outlined">sell</span>
    {% if page.tags.size > 0 %}
      {% for tag in page.tags %}
        <a href="/tags#{{ tag | slugify }}">#{{ tag }}</a>
      {% endfor %}
    {% else %}
      No tag
    {% endif %}
  </p>
</div>
{% assign author = site.data.authors[page.author] %}
{% if page.date_modified %}
  {% assign modified = page.date_modified %}
{% else %}
  {% assign modified = page.date %}
{% endif %}
<article class="post-article" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="toc">
    <a href="#">맨 위로</a>
    {% include toc.html html=content %}
  </div>
  {{ content }}
</article>

<!-- utterance comment -->
<script src="https://utteranc.es/client.js"
        repo="Pig30nidaE/Pig30nidaE.github.io"
        issue-term="pathname"
        label="comments"
        theme="gruvbox-dark"
        crossorigin="anonymous"
        async>
</script>

<script type="text/javascript" src="/assets/js/toc-scroll.js"></script>
<link rel="stylesheet" type="text/css" href="/css/toc-scroll.css">
<link rel="stylesheet" type="text/css" href="/css/comments.css">